echo " # mayra-projetos ">> Readme echo "# mayra-projetos" >> README.md 
git init 
git add README.md 
git commit -m "first commit" 
git branch -M main 
git remote add origin https://github.com/may2323/mayra-projetos. git
 git push -u origem principal
 
